body {
    background-color: #202020;
}

#builtWithContainer {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 200px;
    height: 100px;
}

#skylinkLogo {
    width: 151px;
    height: 51px;
    bottom: 10px;
    right: 10px;
    position: fixed;
}

#builtWithText {
    position: fixed;
    right: 15px;
    bottom: 50px;
    font-family:  "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 15px;
    color: white;
    
}

#logoContainer {
    position: fixed;
    left: 16.5%;
    width: 400px;
    height: 320px;
    margin-top: 0;
    padding-top: 0;
}

#appDemoContainer {
    position: fixed;
    right: 20%;
    top: 10%;
    width: 233px;
    height: 476px;
    
}

#appStoreContainer {
    position: fixed;
    right: 24.5%;
    bottom: 12%;
    width: 111px;
    height: 37px;
}

#textContainer {
    position: fixed;
    left: 17.5%;
    top: 36%;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 15px;
    color: white;
}

#macbookContainer {
    position: fixed;
    top: 50%;
    left: 16%;
    width: 158px;
    height: 95px;
}

#localTextContainer {
    width: 150px;
    text-align: center;
    position: fixed;
    bottom: 30%;
    left: 16.5%;
    color: #CCCCCC;
    font-family: "HelveticaNeue-Thin";
    font-size: 13px;
}

#remoteTextContainer {
    width: 150px;
    text-align: center;
    position: fixed;
    bottom: 30%;
    left: 34%;
    color: #CCCCCC;
    font-family: "HelveticaNeue-Thin";
    font-size: 13px;
}

#macContainer {
    position: fixed;
    top: 47%;
    left: 34%;
    width: 145px;
    height: 118px;
}

#localButton {
    position: fixed;
    bottom:20%;
    left: 18.5%;
}

#remoteButton {
    position: fixed;
    bottom:20%;
    left: 36.5%;
}

.connectButton {
    width: 90px;
    height: 35px;
    background-color: #202020;
    moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border: 1px solid white;
    color: white;
    font-family: "HelveticaNeue-Light"
    
}

.connectButton:hover {
    color: #1CA1CA;
    border: 1px solid #1CA1CA;
    
}

#textField {
    background-color: #575757;
    border: 0px;
    moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    position: fixed;
    left: 34%;
    bottom: 20%;
    width: 160px;
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
}
