body {
    background-color: #202020;
}

#builtWithContainer {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 200px;
    height: 100px;
}

#skylinkLogo {
    width: 151px;
    height: 51px;
    bottom: 10px;
    right: 10px;
    position: fixed;
}

#builtWithText {
    position: fixed;
    right: 15px;
    bottom: 50px;
    font-family:  "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 15px;
    color: white;
    
}

#logoContainer {
    display: block;
    margin-left: 145px;
    width: 400px;
    height: 320px;
}

#parentParentContainer {
    margin: 0 auto;
    width: 1024px;
    height: 768px;
}

#parentAppContainer {
    display: block;
    margin-left: 700px;
    margin-top: -250px;
    width: 233px;
    height: 550px;
}

#appDemoContainer {
    margin: 0 auto;
    width: 233px;
    height: 476px;
    
}

#appStoreContainer {
    display: block;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 111px;
    height: 37px;
}

#textContainer {
    position: fixed;
    left: 17.5%;
    top: 36%;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 15px;
    color: white;
}

#parentOptionsContainer {
    display: block;
    margin-top: -300px;
    margin-left: 150px;
    width: 390px;
    height: 308px;
}

#parentLocalContainer {
    display: block;
    float: left;
}

#parentRemoteContainer {
    display: block;
    float: right;
}

#macbookContainer {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 158px;
    height: 95px;
}

#localTextContainer {
    display: block;
    margin-top: 23px;
    width: 160px;
    text-align: center;
    color: #CCCCCC;
    font-family: "HelveticaNeue-Thin";
    font-size: 13px;
}

#remoteTextContainer {
    display: block;
    margin-top: 10px;
    width: 160px;
    text-align: center;
    color: #CCCCCC;
    font-family: "HelveticaNeue-Thin";
    font-size: 13px;
}

#macContainer {
    display: block;
    margin: 0 auto;
    width: 145px;
    height: 118px;
}

#localButton {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 37px;
}

#remoteButton {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 37px;
}

.connectButton {
    width: 90px;
    height: 35px;
    background-color: #202020;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border: 1px solid white;
    color: white;
    font-family: "HelveticaNeue-Light";
    
}

.connectButton:hover {
    color: #23b5e1;
    border: 1px solid #23b5e1;
    
}

#textField {
    display: block;
    margin-top: -97px;
    width: 160px;
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #575757;
    border: 0px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    color: white;
}

/*SONG SELECTION*/

.albumArt {
    display: block;
    margin: auto;
    width: 100px;
    height: 100px;
}

.songTitle {
    font-family: "HelveticaNeue-Light";
    color: black;
    font-size: 14px;
    width: 100%;
    padding-top: 10px;
    text-align: center;
}

.songArtist {
    font-family: "HelveticaNeue-Bold";
    color: black;
    font-size: 14px;
    width: 100%;
    text-align: center;
}

#topLogoContainer {
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 160px;
}

#deviceContainer {
    border-radius: 10px;
    background-color: #2b2b2b;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    width: 140px;
    height: 100px;
    overflow: auto;
}

.deviceMac {
    position: absolute;
    width: 95px;
    height: 57px;
    margin-top: 20px;
    margin-left: 20px;
}

.devicePhone {
    position: absolute;
    width: 38px;
    height: 76px;
    margin-top: 10px;
    margin-left: 140px;
}

#loadingContainer {
    position: relative;
    margin: 0 auto;
    width: 300px;
    height: 200px;
}

#loadingText {
    color: white;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    font-style: italic;
    padding-top: 130px;
}

#songContainerHeader {
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    width: 500px;
    text-align: center;
}

.songHeader {
    color: white;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 18px;
}

.songHeaderSubtitle {
    padding-top: 5px;
    color: white;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    font-size: 16px;
}
    
#parentSongContainer {
    display: block;
    margin: 0 auto;
    top: 50%;
    width: 500px;
    height: 400px;
}

#startButton {
    display: block;
    margin: 0 auto;
    margin-bottom: 30px;
}

table {
    display: block;
    margin: 0 auto;
    border-collapse:separate; 
    border-spacing:2em;
}

tr {
    border-radius: 10px;
    width:300px;
    height: 175px;
    
}
td {
    background-color: #e0f4fb;
    border-radius: 10px;
    width:300px;
    height: 150px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
}

td:hover {
    background-color: #a5e1f3;
}

.selectedTd {
    background-color: #54c5e8;
}

/*PLAYER*/

.container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 10px;
    background-color: #e0f4fb;
    width: 640px;
    height: 200px;
    text-align: center;
}

.containerHeader {
    padding-top: 10px;
    color: black;
    font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue", sans-serif;
    font-size: 25px;
}

.controllerContainer {
    margin: 0 auto;
    width: 80%;
    height: 50px;
}

.buttonsContainer {
    margin: 0 auto;
    width: 20%;
    height: 40px;
}

.playButton {
    float: left;
    background: url('https://cloud.githubusercontent.com/assets/11940172/7174092/8dec912c-e434-11e4-8ce1-c1e4da951ed3.png') no-repeat;
    background-size: 40px 40px;
    cursor: pointer;
    width: 40px;
    height: 40px;
    margin-top: 5px;
}

.pauseButton {
    float: right;
    background: url('https://cloud.githubusercontent.com/assets/11940172/7174091/8dea2aea-e434-11e4-9d04-4b3c76a005fc.png') no-repeat;
    background-size: 40px 40px;
    cursor: pointer;
    width: 40px;
    height: 40px;
    margin-top: 5px;
}

.muteButtonUnfilled {
    position: absolute;
    margin-left: 350px;
    margin-top: -28px;
    background: url('https://cloud.githubusercontent.com/assets/11940172/7178448/76bbaae2-e461-11e4-8aa9-5df7e41135c2.png') no-repeat;
    background-size: 30px 30px;
    cursor: pointer;
    width: 30px;
    height: 30px;
}

.muteButtonFilled {
    position: absolute;
    margin-left: 350px;
    margin-top: -28px;
    background: url('https://cloud.githubusercontent.com/assets/11940172/7178055/6c536138-e45e-11e4-97d8-0dcc3b2b3187.png') no-repeat;
    background-size: 30px 30px;
    cursor: pointer;
    width: 30px;
    height: 30px;
}

.thumbsUpButton {
    position: absolute;
    margin-left: 140px;
    margin-top: 8px;
    background: url('https://cloud.githubusercontent.com/assets/11940172/7178098/a8098f86-e45e-11e4-8d13-a1d6d85e6e86.png') no-repeat;
    background-size: 30px 30px;
    cursor: pointer;
    width: 30px;
    height: 30px;
}

.volumeLabel {
    position: absolute;
    margin-left: 237px;
    margin-top: 37px;
    color: black;
    font-family: "HelveticaNeue-Light", "Helvetica Neue", sans-serif;
    font-size: 10px;
}

.trackLabel {
    position: absolute;
    margin-left: 50px;
    color: black;
    font-family: "HelveticaNeue-Light", "Helvetica Neue", sans-serif;
    font-size: 10px;
}

.vocalLabel {
    position: absolute;
    margin-left: 430px;
    color: black;
    font-family: "HelveticaNeue-Light", "Helvetica Neue", sans-serif;
    font-size: 10px;
}

input[type='range'] {
    -webkit-appearance: none;
    background-color: rgba(0,0,0,0);
    height: 20px;
    border: 1px solid #444;
    border-radius: 15px;
    padding: 0 3px;
    margin-top: 15px;
}

input[type='range']::-webkit-slider-thumb {
    vertical-align: middle;
    -webkit-appearance: none;
    background-color: #2b2b2b;
    width: 16px;
    height: 16px;
    border-radius: 16px;
}

#lyricsContainer {
    margin-left: auto;
    margin-right: auto;
    margin-top: -10px;
    width: 535px;
    height: 80px;
}

#topLine {
    color: grey;
    text-align: center;
    font-family: "HelveticaNeue-Light", "Helvetica Neue", sans-serif;
    font-size: 14px;
}

#middleLine {
    color: black;
    text-align: center;
    font-family: "HelveticaNeue-Medium", "Helvetica Neue", sans-serif;
    font-size: 17px;
}

#bottomLine {
    color: grey;
    text-align: center;
    font-family: "HelveticaNeue-Light", "Helvetica Neue", sans-serif;
    font-size: 14px;
}

.amplitudeContainer {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    background-color: rgba(0,0,0,0);
    border: 1px solid #444;
    border-radius: 5px;
    width: 535px;
    height: 50px;
}

.amplitudeBar {
    background-color: #444;
    border-radius: 5px;
    height: 50px;
    width: 0px;
    transition: width 0.05s;
}

#endSongContainer {
    margin: 0 auto;
    width: 200px;
    height: 80px;
    cursor: pointer;
}

#backContainer {
    float: left;
    width: 80px;
    height: 70px;
    cursor: pointer;
}

#replayContainer {
    float: right;
    width: 80px;
    height: 70px;
}

.replayButton {
    background: url('https://cloud.githubusercontent.com/assets/11940172/7197352/9ad6f4b6-e512-11e4-8260-fb83fc423be0.png') no-repeat;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    background-size: 30px 30px;
    width: 30px;
    height: 30px;
}

.backButton {
    background: url('https://cloud.githubusercontent.com/assets/11940172/7197359/af511e26-e512-11e4-9be9-da5db9c06593.png') no-repeat;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    background-size: 30px 30px;
    width: 30px;
    height: 30px;
}

.endSongButtonLabel {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    color: black;
    font-family: "HelveticaNeue-Light", "Helvetica Neue", sans-serif;
    font-size: 12px;
}
