body {
    background-color: #202020;
}

#introContainer {
    background-color: #fff;
    width: 520px;
    height: 480px;
    
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
    border: 1px #9FB9C1 solid;
    border-radius: 10px;
}

#introHeader {
    position: absolute;
    left: 0;
    right: 0;
    top: 25px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 2.0em;
    color: #1CA1CA;
    font-family: HelveticaNeue;
    font-weight: bold;
}

#introFooter {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 25px;
    margin-left:auto;
    margin-right:auto;
}

#optionContainer {
    background-color: transparent;
    width: 100%;
    height: 250px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

#localContainer {
    background-color: transparent;
    position: absolute;
    top:0;
    bottom: 0;
    left: 25px;
    margin: auto;
    width: 200px;
    height: 200px;
}

#localImage {
    width:160px;
    height:100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#remoteImage {
    width:113px;
    height:100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#remoteContainer {
    background-color: transparent;
    position: absolute;
    top:0;
    bottom: 0;
    right: 25px;
    margin: auto;
    width: 200px;
    height: 200px;
}

.round-button {
	width:15%;
    margin: 0 auto;
}
.round-button-circle {
	width: 100%;
	height:0;
	padding-bottom: 100%;
    border-radius: 50%;
	border:1px solid #cfdcec;
    overflow:hidden;
    
    background: #E8F6FA; 
    box-shadow: 0 0 3px gray;
}

.round-button-circle:hover {
	background:#FFFFFF;
}

.round-button a {
    display:block;
	width:100%;
	padding-top:50%;
    padding-bottom:50%;
	line-height:1em;
	margin-top:-0.5em;
    
	text-align:center;
	color:#202020;
    font-family:HelveticaNeue;
    font-size:1.0em;
    font-weight:bold;
    text-decoration:none;
}
